body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 500px;
    height: 500px;
}

.converter-container {
    padding: 15px;
}

.converter-container .input-group {
    margin: 10px 0px;
}

.converter-container .input-group input {
    width: 200px;
}